h2{
    color: orange;
}

body{
    background-color: #305050;
    color: white;
    font-family: Roboto;
    text-align: center;
}

header{
    border-bottom: 1px solid grey;
}

footer{
    border-top: 1px solid grey;
}

#nome-usuário{
    font-weight: bold;
}

.texto-inglês{
    font-style: italic;
}

#letra_s{
    font-weight: bold;
    color: red;
}

#letra_t{
    font-weight: bold;
    color: yellow;
}

#letra_a{
    font-weight: bold;
    color: cyan;
}

#letra_r{
    font-weight: bold;
    color: darkorchid;
}

#letra_t2{
    font-weight: bold;
    color: mediumseagreen;
}